* {
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #f5f6fa;
    font-family: 'Fjalla One', sans-serif;
    background-image: url(imagenes/iphone-791450_1280.jpg);
    background-repeat: no-repeat;
    background-color: linear-gradient(to right top, #051937, #263760, #48588c, #6d7bbb, #94a0ec);
    background-size: cover;
}

.sidebar {
    background-image: linear-gradient(to right top, #fdf451, #f1f470, #e7f28a, #e0f0a2, #dcecb8);
    /* background: rgb(5, 68, 104); */
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    color: black;
    margin: 10px 0 5px;
    font-size: 14px;

}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    position: relative;
    transition: all .2s ease-in;
}

.section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;

}

.container {
    margin: 30px;
    padding: 50px;
    line-height: 28px;
}

body.active .wrapper .sidebar {
    left: -225px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}

.name {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    padding-top: 55px;
    padding-bottom: 305px;
}

#imagen {
    width: 50%;
}


.iconos a img {
    width: 40px;
}